<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">

	<Appenders>
		<Console name="ConsoleJSONAppender" target="SYSTEM_OUT">
			<JsonLayout complete="false" compact="false">
				<KeyValuePair key="usedLayout" value="JsonLayout" />
			</JsonLayout>
		</Console>
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L usedLayout: %X PatternLayout - %m%n" />
		</Console>
		<Console name="JsonObjectMessage" target="SYSTEM_OUT">
			<JsonLayout complete="false" compact="false" objectMessageAsJsonObject="true">
				<KeyValuePair key="usedLayout" value="JsonLayout_withObject" />
			</JsonLayout>
		</Console>

	</Appenders>
	<Loggers>
	
		<Logger name="org.gepardec.slog4j.ObjectMessageTest" additivity="false" level="trace">
            <AppenderRef ref="JsonObjectMessage" />
            <AppenderRef ref="console"  />
        </Logger>
		<Logger name="org.gepardec.slog4j.CalcService" additivity="false" level="trace">
            <AppenderRef ref="JsonObjectMessage" />
            <AppenderRef ref="console"  />
        </Logger>
		<Logger name="org.gepardec.slog4j.CalcService2" additivity="false" level="trace">
            <AppenderRef ref="JsonObjectMessage" />
            <AppenderRef ref="console"  />
        </Logger>
		<Logger name="org.gepardec.slog4j.LoggingTest" additivity="false" level="trace">
            <AppenderRef ref="JsonObjectMessage" />
        </Logger>
		
		<Root level="info" additivity="false">
			<appender-ref ref="console" />
		</Root>
	</Loggers>
</Configuration>